# Frontend
client/node_modules/
client/build/
client/dist/

# Backend
server/.venv/
server/venv/
__pycache__/
*.pyc

# Environment variables
.env
.env.*
!.env.example

# Database
*.db

# Logs
*.log

# Generated logs
server/*_log.txt
